<template>
  <div id="app">
    <div class="bg-primary text-white text-center m-2 p-3">
      <h3>Produkt: {{ name }}</h3>
      <h4>Cena: {{ getTotalPrice(lowTaxRate) | currency }} (Najniższa)</h4>
      <h4>Cena: {{ getTotalPrice(highTaxRate) | currency }} (Najwyższa)</h4>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data: function () {
      return {
        name: "Kajak",
        price: 275,
        lowTaxRate: 12,
        highTaxRate: 20
      }
    },
    methods: {
      getTotalPrice(taxRate) {
        return this.price + (this.price * (taxRate / 100));
      }
    },
    filters: {
      currency(value) {
        return new Intl.NumberFormat("pl-PL", {
          style: "currency",
          currency: "PLN"
        }).format(value);
      }
    }
  }
</script>

<style>

</style>