<template>
  <div class="todo">
    <h4 class="bg-primary text-white text-center p-2">
      {{name}} - ToDo App
    </h4>
    <div class="container-fluid p-4">
      <div class="row" v-if="filteredTasks.length == 0">
        <div class="col text-center">
          <b>Wszystko zrobione. Hura!</b>
        </div>
      </div>
      <template v-else>
        <div class="row">
          <div class="col font-weight-bold">Zadanie</div>
          <div class="col-2 font-weight-bold">Zrobione</div>
        </div>
        <div class="row" v-for="t in filteredTasks" v-bind:key="t.action">
          <div class="col">{{t.action}}</div>
          <div class="col-2 text-center">
            <input type="checkbox" v-model="t.done" class="form-check-input" />
          </div>
        </div>
      </template>
      <div class="row py-2">
        <div class="col">
          <input v-model="newItemText" class="form-control" />
        </div>
        <div class="col-2">
          <button class="btn btn-primary" v-on:click="addNewTodo">Dodaj</button>
        </div>
      </div>
      <div class="row bg-secondary py-2 mt-2 text-white">
        <div class="col text-center">
          <input type="checkbox" v-model="hideCompleted" class="form-check-input" />
          <label class="form-check-label font-weight-bold">
            Ukryj zakończone zadania
          </label>
        </div>
        <div class="col text-center">
          <button class="btn btn-sm btn-warning" v-on:click="deleteCompleted">
            Usuń zakończone
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Todo',
    data() {
      return {
        name: "Marceli",
        tasks: [],
        hideCompleted: true,
        newItemText: ""
      }
    },
    computed: {
      filteredTasks() {
        return this.hideCompleted ?
          this.tasks.filter(t => !t.done) : this.tasks
      }
    },
    methods: {
      addNewTodo() {
        this.tasks.push({
          action: this.newItemText,
          done: false
        });
        this.storeData();
        this.newItemText = "";
      },
      storeData() {
        localStorage.setItem("todos", JSON.stringify(this.tasks));
      },
      deleteCompleted() {
        this.tasks = this.tasks.filter(t => !t.done);
        this.storeData();
      }
    },
    created() {
      let data = localStorage.getItem("todos");
      if (data != null) {
        this.tasks = JSON.parse(data);
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h4 {
    color: black;
  }
</style>