<template>
  <div id="app">
    <h1 class="bg-secondary text-white p-3">
      {{ message }}
    </h1>
    <button class="btn btn-secondary" v-on:click="handleClick">
      Wciśnij mnie
    </button>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data: function () {
      return {
        counter: 0
      }
    },
    methods: {
      handleClick() {
        this.counter++;
      }
    },
    computed: {
      message() {
        return this.counter == 0 ?
          "Nie wciśnięto jeszcze" : `Wciśnięto: ${this.counter} razy`;
      }
    }
  }
</script>