<template>
  <div id="app">
    <div class="container-fluid text-center">
      <div class="bg-primary text-white m-2 p-3">
        <h3 v-text="textContent"></h3>
      </div>
      <button v-on:click="handleClick" class="btn btn-primary">
        Wciśnij mnie!
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data: function () {
      return {
        name: "Kamizelka ratunkowa",
        highlight: false,
      }
    },
    computed: {
      textContent() {
        return this.highlight ? "Dabam!" : `Produkt: ${this.name}`;
      }
    },
    methods: {
      handleClick() {
        this.highlight = !this.highlight;
      }
    }
  }
</script>

<style>

</style>