<template>
  <div id="app">
    <div class="container-fluid">
      <div class="bg-primary p-4 text-white h3">
        {{message}}
      </div>
      <input class="form-control bg-light" placeholder="Wpisz tutaj..." v-on:keydown.ctrl.exact="handleKey" />
    </div>
  </div>
</template>

<script>
  export default {
    name: 'app',
    data: function () {
      return {
        message: "Gotowe"
      }
    },
    methods: {
      handleKey($event) {
        this.message = $event.key;
      }
    }
  }
</script>

<style>

</style>